.header { width: 100%; height: 1.0667rem; border-bottom: 1px solid #d9d9d9; }
.header .container { width: 9.2rem; margin: 0 auto; height: 1.0667rem; }
.times { width: 1.653rem; height: 0.586rem; margin-top: 0.32rem; }
.header .container span { font-size: 0.4rem; color: #333; margin-left: 0.12rem; font-weight:bold;position: relative; bottom: 0.143333rem; letter-spacing: 0.05rem; }

.overlay{    background-color: rgba(0, 0, 0, 0.4);position: fixed;left: 0;right: 0;top: 0;bottom: 0;display: block;z-index: 21474836450;}
.showBox{    
	background-color: white;
    border-radius: 0.2rem;
    position: fixed;
    width: 9.0666rem;
    margin-left: 0;
    margin-right: 0;
    left: 0.4666667rem;
    top: 15%;
    overflow: hidden;
    z-index: 21474836450;
    display: block;
    margin-top: -140px;
}
.showBox .inner{height:13rem;overflow-y:scroll;}
.showBox .titles{font-size:0.4rem;padding-top:0.8rem;padding-bottom:0.2rem;padding-left:0.3rem;}
.tip{width:0.1rem;}
.report-message{margin-top: 0.4rem;display: -webkit-flex;display: flex;}
.report-detail{ width: 9.2rem;margin-left: 0.293333rem;border-bottom: 1px solid #d9d9d9;padding-bottom: 0.266667rem;}
.report-detail p{font-size:0.373rem;color:#333333;line-height:0.373rem;}
.options{margin-top:0.1333rem;}
.options li{font-size:0.373rem;color:#333333;line-height:0.667rem;padding-left:0.1667rem;}
.options li input{width:0.37rem;height:0.37rem;}
.button{width:8rem;height:1.0666rem;margin:0.65rem auto 0;background:#3ba554;font-size:0.4rem;color:#fff;border-radius:0.2rem;text-align:center;line-height:1.066rem;margin-bottom:0.667rem;}

  textarea{    	border:0;  	background-color:transparent; color: #666464;height: auto;width:100%;font-size:0.32rem;}
  textarea::-webkit-input-placeholder{
    color:#b6b6b6;
}
.video_message button{position:relative;left:0;margin-bottom:0.33rem;}